<li>
	<%if (task.status === true)%>
		<p class="barre"><%= task.title %></p>
	<%end%>
	<%if (task.status === false)%>
		<p class="pas-barre"><%= task.title %></p>
	<%end%>
	<%= check_box_tag :status, 1, task.status, data: { remote: true, url: task_path(task.id), params: {id: task.id, status: !task.status}.to_param, method: "put" }%>
	<% unless task.deadline.nil? %>
	  , to read: <%= task.deadline.strftime('%D')  %>
    <%= button_to task_path(task), remote: true, method:"delete" do%>
        <i class="fa fa-trash"></i>
      <% end %>
	<% end %>

</li>
